<link rel="stylesheet" href="<%= assetPath('css/home.css')%>">
<button text="join room" class="btn btn-primary btn-block" style="background:yellowgreen;"onclick="b()"> Join Room</button>

<div id="home-container">
    <section id="feed-posts">
            <h4>Posts</h4>
            <% if(locals.user){ %>
            <form action="/post/create" id="new-post-form"  enctype="multipart/form-data" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Write to your Timeline..." required></textarea>
                <input type="file" name="avatar" placeholder="Posted Picture"><br>
                <input type="submit" value="Post">
            </form>

           
            <% } %>
        
            <div id="posts-list-container">
                <ul style=" list-style-type:none;">
                    <% for(post of Posts){ %>
                        
                    <%- include('_post') -%>
                        
                    <%} %> 
                </ul>
            </div>
        </section>
        
        
        <section id="user-friends">

            <section id="friends-list">

                <h4 style="display: flex;flex-direction: column;">Friends</h4>
                <% for(u of friends){%>
                    <p>
                <a href="#" onclick='b("<%=u.to_user.email%>") ,openChatForm()' id="<%=u.to_user.email%>"><%=u.to_user.name%></a>
                
                </p>
                <% } %>
                <% for(u of friends_requested){%>
                    <p>
                <a href="#" onclick='b("<%=u.from_user.email%>"),openChatForm()' id="<%=u.from_user.email%>"><%=u.from_user.name%></a>
               
                </p>
                <% } %>
    
    
                
             </section>
            <h4>Users</h4>
            <% for(u of all_users){%>
                <p>
                    <!-- <a href="/users/profile/<%= u.id %>/<%=locals.user._id%>"><%= u.name %></a> -->
                    <a href="/users/profile/<%= u.id %>/<%=locals.user._id%>"><%= u.name %></a>
                </p>
            <% } %>
        </section>
</div>
<!-- importing this script for creating the comments -->
<script src="<%=assetPath('js/home_post_comments.js')%>"></script>
<script src="<%=assetPath('js/home_posts.js')%>"></script>
<script src="<%=assetPath('js/toggle_likes.js')%>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%=assetPath('js/chat_engine.js')%>"></script>

<% if(locals.user){ %>
<script>
    
    function b(toUser){
       
    new ChatEngine("user-chat-box",'<%=locals.user.email%>','<%=locals.user.name%>',toUser);
    }
    new ChatEngine("user-chat-box",'<%=locals.user.email%>','<%=locals.user.name%>');
    
    
   
       
       
</script>
<% } %>