<link rel="stylesheet" href="/css/user.css">

<% if(user.id == profile_user.id){ %>
<h2 id="profile_heading">Profile</h2>
<img src="<%= user.avatar%>" alt="<%=user.name%>" width="100" height="auto" style="background-color: lightslategray; border-radius: 50%;" id="profile_photo"><br><br>
<%} %>

<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data" >
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required><br><br>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required><br><br>
        <input id="imgInp" type="file" name="avatar" placeholder="Profile Picture" /><br><br>
        <input type="submit"  value="Update">
    </form>
    

   



<%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <% if(status){%>
      <a class="btn btn-danger" href="/users/removefriend/<%= profile_user.id %>/<%=user.id%>" id="toggle-friends-add-button-<%= profile_user.id %>" onclick=" event.preventDefault(); removeFriend(this.id)" style="margin-left: 10vw;">
        Remove Friend
        </a>
    

    <%}else{%>
      <a class="btn btn-primary" href="/users/addfriend/<%= profile_user.id %>/<%=user.id%>" id="toggle-friends-add-button-<%= profile_user.id %>" onclick=" event.preventDefault(); addFriend(this.id)" style="margin-left: 10vw;">
        Add Friend
        </a>
    <%}%>
<%} %>


<script>


function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
        $('#profile_heading').html("Preview");
      $('#profile_photo').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#imgInp").change(function() {
    
  readURL(this);
});
</script>



<script>
  function addFriend(clicked)
{

  console.log($(`#${clicked}`));

              // this is a new way of writing ajax which you might've studied, it looks like the same as promises
            $.ajax({
                type: 'GET',
                url: $(`#${clicked}`).attr('href'),
                
            })
            .done(function(data) {
               
               $(`#${clicked}`).html(`Remove Friend`);

               $(`#${clicked}`).attr('href',"/users/removefriend/<%= profile_user.id %>/<%=user.id%>");
               $(`#${clicked}`).attr('onclick',"event.preventDefault(); removeFriend(this.id)");
               $(`#${clicked}`).addClass("btn btn-danger");

              console.log("success")

            })
            .fail(function(errData) {
                console.log('error in completing the request',errData);
            });
            

      }


      function removeFriend(clicked)
{

  console.log($(`#${clicked}`));

              // this is a new way of writing ajax which you might've studied, it looks like the same as promises
            $.ajax({
                type: 'GET',
                url: $(`#${clicked}`).attr('href'),
                
            })
            .done(function(data) {
               
               $(`#${clicked}`).html(`Add Friend`);

               $(`#${clicked}`).attr('href',"/users/addfriend/<%= profile_user.id %>/<%=user.id%>");
               $(`#${clicked}`).attr('onclick',"event.preventDefault(); addFriend(this.id)");
               $(`#${clicked}`).removeClass("btn btn-danger");
               $(`#${clicked}`).addClass("btn btn-primary");

              console.log("success")

            })
            .fail(function(errData) {
                console.log('error in completing the request',errData);
            });
            

      }
</script>
