<link rel="stylesheet" href="<%= assetPath('css/user.css')%>">
<div style="margin-left:2vw">

<h2 id="profile_heading">Profile</h2>
<img src="<%= profile_user.avatar%>" alt="<%=profile_user.name%>" width="11.8%" height="auto" style="background-color: lightslategray; border-radius: 50%;" id="profile_photo"><br></br>
<% if(user.id == profile_user.id){ %>
  <h4 ><b>Basic Info</b></h4>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data" >
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" style="background-color: lightsteelblue;" required><br><br>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" style="background-color: lightsteelblue;" required><br><br>
        <input style="background:whitesmoke; border:1px solid black;color:black;border-radius: 12px 12px 12px 12px;" id="imgInp" type="file" name="avatar" placeholder="Profile Picture" /><br><br>
        <input class="btn btn-info" type="submit"  value="Update">
    </form>
    
   
      <%if(profile_user.hobbies.length>0){%>
      <h4 ><b>Hobbies</b></h4>
      <div style="display: flex;flex-direction: row; flex-wrap: wrap;width: 50vw;">
      <%for(u of profile_user.hobbies){%>
        <input hidden; style="background-color: lightgoldenrodyellow; border-radius: 12px 12px 12px 12px; color: black; text-align: center;margin-bottom: 10px;margin-right: 10px;"  &nbsp value="<%=u%>">
        
        <br>
      <%}%>
      
      <%}%>
      
      </div>
      <br>
      <% if(user.id == profile_user.id){ %>
        <a class="btn btn-primary" style="margin-left: 2vw;" href="/users/update_hobbies/<%= profile_user.id %>">Edit Your Hobbies</a><br><br>
        <%}%>
      <br><br>
      




<%}else{%>    
    <!-- else show only the profile info -->
    <p><b>Name:</b><%= profile_user.name %></p>
    <p><b>Email:</b><%= profile_user.email %></p>
    <% if(status){%>
      <a class="btn btn-danger" href="/users/removefriend/<%= profile_user.id %>/<%=user.id%>" id="toggle-friends-add-button-<%= profile_user.id %>" onclick=" event.preventDefault(); removeFriend(this.id)" style="margin-left: 10vw;">
        Remove Friend
        </a>
        <%}else if(pending){%>
         
          <a class="btn btn-primary" href="#"  style="margin-left: 10vw;">
           Request Pending
            </a>
            <%}else if(already_requested){%>
         
              <a class="btn btn-primary" href="#"  style="margin-left: 10vw;">
               User Already Requested
                </a>
    
            <%}else{%>
  
      <a class="btn btn-primary" href="/users/addfriend/<%= profile_user.id %>/<%=user.id%>" id="toggle-friends-add-button-<%= profile_user.id %>" onclick=" event.preventDefault(); addFriend(this.id)" style="margin-left: 10vw;">
        Add Friend
        </a>
    <%}}%>


<% if(user.id == profile_user.id){ %>
  <h3>Your Posts</h3>
  <div style="width: 50vw;">
    <% for(post of Posts){ %>
          <% if (locals.user && locals.user.id == post.user.id){ %>
            <%if(post.avatar){%>
              <img src="<%= post.avatar%>"  width="80%" height="300" id="profile_photo"><br><br>
              <%}%>
              
              <%= post.content %>
              <br>
            <br>
            <small style="padding-left:5vw;float:right;width:30vw"  id="post_created_time">
              <%= post.createdAt %>
            </small>
            <b id="total-likes-<%=post._id%>" data-total-likes="<%= post.likes.length + post.wow.length + post.love.length %>" style="color: darkblue;"><%= post.likes.length + post.wow.length + post.love.length %> Likes </b><br>
            <h2>----------------------------------------------------</h2>
          <%}%>
    <%}%>
<%}else{%>
  <div style="width: 50vw;margin-top: 20px;">
    <h3 style="color:maroon; font-weight: bolder;"><%=profile_user.name%> Posts</h3>
  <% for(post of Posts){ %>
    <% if (profile_user.id == post.user.id){ %>
      <%if(post.avatar){%>
        <img src="<%= post.avatar%>"  width="80%" height="300" id="profile_photo"><br><br>
        <%}%>
        
        <%= post.content %>
        <br>
      <br>
      <small style="padding-left:5vw;float:right;width:30vw"  id="post_created_time">
        <%= post.createdAt %>
      </small>
      <b id="total-likes-<%=post._id%>" data-total-likes="<%= post.likes.length + post.wow.length + post.love.length %>" style="color: darkblue;"><%= post.likes.length + post.wow.length + post.love.length %> Likes </b><br>
      <h2>----------------------------------------------------</h2>
    <%}%>
<%}%>

    <%}%>
  </div>
</div>
</div>
<script>


function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
        $('#profile_heading').html("Preview");
      $('#profile_photo').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#imgInp").change(function() {
    
  readURL(this);
});
</script>



<script>
  function addFriend(clicked)
{

  console.log($(`#${clicked}`));

              // this is a new way of writing ajax which you might've studied, it looks like the same as promises
            $.ajax({
                type: 'GET',
                url: $(`#${clicked}`).attr('href'),
                
            })
            .done(function(data) {
               
               $(`#${clicked}`).html(`Request Pending`);

              //  $(`#${clicked}`).attr('href',"/users/removefriend/<%= profile_user.id %>/<%=user.id%>");
              //  $(`#${clicked}`).attr('onclick',"event.preventDefault(); removeFriend(this.id)");
               $(`#${clicked}`).addClass("btn btn-primary");

              console.log("success")

            })
            .fail(function(errData) {
                console.log('error in completing the request',errData);
            });
            

      }


      function removeFriend(clicked)
{

  console.log($(`#${clicked}`));

              // this is a new way of writing ajax which you might've studied, it looks like the same as promises
            $.ajax({
                type: 'GET',
                url: $(`#${clicked}`).attr('href'),
                
            })
            .done(function(data) {
               
               $(`#${clicked}`).html(`Add Friend`);

               $(`#${clicked}`).attr('href',"/users/addfriend/<%= profile_user.id %>/<%=user.id%>");
               $(`#${clicked}`).attr('onclick',"event.preventDefault(); addFriend(this.id)");
               $(`#${clicked}`).removeClass("btn btn-danger");
               $(`#${clicked}`).addClass("btn btn-primary");

              console.log("success")

            })
            .fail(function(errData) {
                console.log('error in completing the request',errData);
            });
            

      }
</script>
